*{
    box-sizing: border-box;
}

.hero-avatar-box {
    width: 300px;
    height: 300px;
    background-color: #2b2626;
    border-radius: 30% / 30% ; 
    animation: blobMorph 4s ease-in-out infinite alternate;
    overflow: hidden;
}

@keyframes blobMorph {
    0% { border-radius: 30% / 30% ; }
    100% { border-radius: 50% / 50% }
}
@keyframes appear{
    from{
        opacity:0;
        /* scale:0.5; */
        transform: translatex(-100px);
    }
    to{
        opacity: 1;
        /* scale: 1; */
        transform: translatex(0px);
    }
}
.block{
    animation: appear linear;
    animation-timeline: view();
    animation-range:entry 0 cover 40%;

}
.avatar-img{
    object-fit:cover;
    object-position:center;
}
.card:hover{
    transform: scale(1.05);
    transition: transform 0.9s ease-in-out;
}
.slanted-section {
    padding-top: 140px ;
    padding-bottom: 140px;
    clip-path: polygon(0 6vh, 100% 0, 100% 95%, 0 100%);
    
}

